In [2]:
#librerias
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn

In [7]:
df_rendimiento = pd.read_csv('Dataframes/20220302_Rendimiento_2021_20220131_WEB.csv', sep = ';',  decimal=",")

C:\Users\ibgar\AppData\Local\Temp\ipykernel_14876\1693834776.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rendimiento = pd.read_csv('Dataframes/20220302_Rendimiento_2021_20220131_WEB.csv', sep = ';',  decimal=",")

In [17]:
df_rendimiento = df_rendimiento[df_rendimiento['EDAD_ALU'] != ' ']
df_rendimiento['EDAD_ALU'] = df_rendimiento['EDAD_ALU'].astype(int)
df_rendimiento_rm = df_rendimiento[df_rendimiento.COD_REG_RBD == 13]
df_rendimiento_rm = df_rendimiento_rm.loc[(df_rendimiento.EDAD_ALU == 18) & (df_rendimiento.EDAD_ALU == 17)]
#df_rendimiento_rm['PROM_GRAL'].unique()
df_rendimiento_rm_promedio = df_rendimiento_rm.groupby('NOM_COM_RBD').mean().reset_index()
df_rendimiento_rm_promedio
df_rendimiento_rm_promedio = df_rendimiento_rm_promedio[['COD_COM_RBD','COD_DEPE2' ,'PROM_GRAL', 'ASISTENCIA']].to_csv('Dataframes/rendimiento_filtrado_2021.csv',index = False)

In [38]:
df_comunas = df_rendimiento[['COD_COM_RBD','NOM_COM_RBD']]
df_comunas

         COD_COM_RBD  NOM_COM_RBD
0              15101        ARICA
1              15101        ARICA
2              15101        ARICA
3              15101        ARICA
4              15101        ARICA
...              ...          ...
3237038         8301  LOS ÁNGELES
3237039         8301  LOS ÁNGELES
3237040         8301  LOS ÁNGELES
3237041         8301  LOS ÁNGELES
3237042         8301  LOS ÁNGELES

[3237043 rows x 2 columns]